---
import ProductCard from "./ProductCard.astro";
import ProductModal from "./ProductModal.astro";
import type { Lang } from "@i18n/ui";
import type { Tables } from "@lib/database.types";

interface Props {
  products: Tables<"products">[];
  lang?: Lang;
}

const { products, lang = "ro" } = Astro.props;
---

<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
  {products.map((product) => <ProductCard {product} {lang} />)}
</div>

<ProductModal />
